ion-header {
  ion-toolbar {
    ion-buttons {
      ion-button {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        border-radius: 50px;
        border: 1px solid rgba($color: #22172a, $alpha: 0.1);
      }
    }
  }
}
ion-content {
  background: #f9fafb;
  .progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .circleImg {
      position: absolute;
      height: 130px;
      width: 100%;
      text-align: center;
      margin: 16px 0px;
    }
    img {
      border-radius: 50%;
      width: 110px;
      height: 110px;
    }
    h2 {
      font-family: Urbanist;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      text-align: left;
      margin: 5px;
    }
    p {
      font-family: Urbanist;
      font-size: 14px;
      font-weight: 500;
      line-height: 19.6px;
      text-align: left;
      margin: 5px;
    }
    .editProfile {
      display: flex;
      flex-direction: row;
      margin: 5px 24px;
      background-color: #9b0207;
      border-radius: 16px;
      padding: 5px;
      color: #ffffff;
      font-family: Urbanist;
      font-size: 12px;
      font-weight: 600;
      text-align: left;
      p {
        padding: 5px;
      }
      ion-button {
        --padding-bottom: 5px;
        --padding-start: 5px;
        --padding-end: 5px;
        --padding-top: 5px;
        span {
          width: 108px;
          font-family: Urbanist;
          font-size: 14px;
          font-weight: 800;
          gap: 0;
          line-height: 19.6px;
          text-align: center;
          color: rgba(224, 3, 12, 1);
          padding: 0;
          margin: 0;
          text-transform: capitalize;
        }
      }
    }
  }
  ion-list {
    background: #f6f8fc;
    ion-item {
      margin: 10px;
      font-family: Urbanist;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      border-radius: 12px;
      ion-note {
        font-family: Urbanist;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.6px;
        text-align: right;
        color: rgba(158, 163, 174, 1);
      }
    }
  }
}
.vip-card {
  text-align: center;
  ion-icon {
    background: #9b0207 !important;
    border: 6px solid #9b0207;
    border-radius: 50%;
  }
  h2 {
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  p {
    font-family: Urbanist;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
  }

  a {
    font-family: Urbanist;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.2px;
    color: #9b0207;
    text-decoration: none;
  }
}
