ion-tabs {
  background: #f6f8fc !important;
  ion-tab-bar {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 15px;
    border-radius: 40px;
    box-shadow: 0 3px 3px #752277;
    ion-tab-button {
      background: transparent !important;
      --color: #a58ba6;
      --color-selected: white;
    }
  }
}
ion-tab-button.selected {
  ion-icon {
    background-color: #9b0207;
    padding: 12px;
    border-radius: 50px;
  }
}
