<ion-tabs (ionTabsDidChange)="setCurrentTab($event)">
  <ion-tab-bar slot="bottom" mode="md">
    <ion-tab-button
      tab="home"
      href="/tabs/home"
      [ngClass]="{'selected': selectedTab == 'home'}"
    >
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button
      tab="near-me"
      href="/tabs/near-me"
      [ngClass]="{'selected': selectedTab == 'near-me'}"
    >
      <ion-icon aria-hidden="true" name="compass"></ion-icon>
    </ion-tab-button>

    <ion-tab-button
      tab="contacts"
      href="/tabs/contacts"
      [ngClass]="{'selected': selectedTab == 'contacts'}"
    >
      <ion-icon aria-hidden="true" name="people"></ion-icon>
    </ion-tab-button>

    <ion-tab-button
      tab="chats"
      href="/tabs/chats"
      [ngClass]="{'selected': selectedTab == 'chats'}"
    >
      <ion-icon aria-hidden="true" name="chatbubble"></ion-icon>
    </ion-tab-button>

    <ion-tab-button
      tab="settings"
      href="/tabs/settings"
      [ngClass]="{'selected': selectedTab == 'settings'}"
    >
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
